@font-face {
  font-family: 'Campton Bold DEMO';
  font-style: normal;
  font-weight: 600;
  src: local('Campton Bold DEMO'),
       local('Campton Bold'),
       url(./Campton-Bold.woff) format('woff'),
       url(./Campton-Bold.ttf) format('truetype');
}
