@import "normalize.css/normalize.css";
@import "./mixins";

$container_width: 712px;
$gutter: 40px;

$white: #ffffff;
$blue: #7151f4;
$cyan: #a4d6ef;
$gray: #9b9b9b;

html {
  font-family: "GODO DEMO", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

[class^="ico-"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: center center;
  background-repeat: no-repeat;
}

.en {
  font-family: "Campton Bold DEMO", "Spoqa Han Sans", sans-serif;
}

.button {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  border-radius: .375rem;
  padding: .375rem .5rem .4375rem;
  display: inline-block;
  color: $white;
  background-color: #5c3cdf;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;

  [class^="ico-"] {
    vertical-align: top;
  }

  .label {
    display: inline-block;
    margin-left: .5rem;
    vertical-align: top;
    font-size: .875rem;
    line-height: 1.125rem;
  }

  @include media-md() {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.button.en {
  padding: .625rem .5rem .5rem;

  @include media-md() {
    padding-left: .75rem;
    padding-right: .9375rem;
  }
}

.app {
  @include media-md() {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
}

.section-header {
  background: #ffffff;
  height: 180px;

  .container {
    padding-top: 40px;
    padding-right: 60px;
    text-align: right;
  }

  .title {
    font-size: 30px;
    color: #575757;
  }

  .title-sub {
    font-size: 20px;
    color: #B3B3B3;
  }

  .menu {
    display: flex;
    margin-left: 50px;

    .item {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #D7D7D7;
      cursor: pointer;
      margin-left: 20px;
      margin-right: 20px;
    }

    .active {
      color: #DA7A7A;
      padding-bottom: 10px;

      border-bottom: 1px solid currentColor;
      text-decoration: none;
    }
  }
}

.section-container {
  background: #EFEFEF;
  padding-bottom: 100px;

  .item {
    width: 100vw;
    height: 200px;
    padding-top: 80px;
    margin-left: 100px;
    display: flex;

    .image {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 2px 2px 20px 2px #9A9A9A;
    }

    .info {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
     
      .name {
        font-size: 24px;
        padding-top: 4px;
        color: #4E4E4E;

        .instalink {
          cursor: pointer;
        }
      }
      .address {
        font-size: 14px;
        color: #7C7C7C;
      }
      .link {
        border-bottom: 1px solid currentColor;
        cursor: pointer;
      }
      .temp {
        flex-grow: 1;
        color: #00000000;
      }
      .comment {
        font-size: 14px;
        color: #DA7A7A;
      }
      .tags {
        font-size: 14px;
        color: #DA7A7A;
      }

    }
  }
}

.floating-enter-active,
.floating-leave-active {
  transition: transform 500ms, opacity 500ms;
}

.floating-enter,
.floating-leave-to {
  transform: translate(0, 100px);
  opacity: 0;
}