@import "normalize.css/normalize.css";
@import "./mixins";

$container_width: 712px;

html {
  font-family: "GODO DEMO", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.en {
  font-family: "Campton Bold DEMO", "Spoqa Han Sans", sans-serif;
}

.app {
  overflow-x: hidden;

  @include media-md() {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.section-header {
  background: #ffffff;
  height: 180px;

  .container {
    padding-top: 56px;
    padding-right: 10px;
    text-align: center;

    @include media-md() {
      padding-top: 40px;
      padding-right: 60px;
      text-align: right;
    }
  }

  .title {
    font-size: 30px;
    color: #575757;

    @include media-sm() {
      font-size: 24px;
    }
  }

  .title-sub {
    font-size: 20px;
    color: #B3B3B3;

    @include media-sm() {
      font-size: 14px;
    }
  }

  .menu {
    display: flex;
    margin-left: 50px;

    @include media-sm() {
      display: none;
    }

    .item {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #D7D7D7;
      cursor: pointer;
      margin-left: 20px;
      margin-right: 20px;
    }

    .active {
      color: #DA7A7A;
      padding-bottom: 10px;

      border-bottom: 1px solid currentColor;
      text-decoration: none;
    }
  }
}

.section-container {
  background: #EFEFEF;
  padding-bottom: 100px;

  .item {
    width: 100vw;
    height: 200px;
    padding-top: 80px;
    margin-left: 100px;
    display: flex;

    @include media-sm() {
      height: 360px;
      padding-top: 30px;
      margin-left: 0px;
      flex-direction: column;
      -ms-flex-item-align: center;
    }

    .image {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 2px 2px 20px 2px #9A9A9A;

      @include media-sm() {
        margin-left: 8vw;
        width: 84vw;
        height: 200px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      padding-left: 30px;

      @include media-sm() {
        text-align: center;
        padding-left: 0px;
      }

      .name {
        font-size: 24px;
        padding-top: 4px;
        color: #4E4E4E;

        .instalink {
          cursor: pointer;
        }
      }

      .address {
        font-size: 14px;
        color: #7C7C7C;
      }

      .link {
        border-bottom: 1px solid currentColor;
        cursor: pointer;
      }

      .temp {
        flex-grow: 1;
        color: #00000000;
      }

      .comment {
        font-size: 14px;
        color: #DA7A7A;

        @include media-sm() {
          margin-left: 4px;
          margin-right: 4px;
        }
      }

      .tags {
        font-size: 14px;
        color: #DA7A7A;
      }

    }
  }

  // 

  .quiz-item {
    width: 100vw;
    height: 80px;
    padding-top: 40px;
    margin-left: 100px;
    display: flex;

    @include media-sm() {
      height: 360px;
      padding-top: 30px;
      margin-left: 0px;
      flex-direction: column;
      -ms-flex-item-align: center;
    }

    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 30px;

      @include media-sm() {
        text-align: center;
        padding-left: 0px;
      }

      .rank {
        font-size: 34px;
        padding-right: 42px;
        color: #DA7A7A;
      }

      .name {
        width: 560px;
        font-size: 50px;
        padding-left: 20px;
        color: #4E4E4E;

        .instalink {
          cursor: pointer;
        }
      }

      .score {
        font-size: 50px;
        color: #7C7C7C;
      }

      .temp {
        flex-grow: 1;
        color: #00000000;
      }

    }
  }

}